@import "./reset.css";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.header .title {
  font-size: 2rem;
}

.header .subtitle {
  font-size: 1.25rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.footer a {
  margin: 0 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.section p {
  padding: 0.25rem;
}